{% assign tabs_size = 0 %}
{%- for tab in collection.metafields.custom.tabs.value -%}
  {% assign tabs_size = tabs_size | plus: 1 %}
{%- endfor -%}

{% if tabs_size > 0 %}
  {{- 'collection-tabs.css' | asset_url | stylesheet_tag: preload: true -}}
  {%- capture padding_classes -%}
  section-padding-top-{{ section.settings.padding_top }} section-padding-bottom-{{ section.settings.padding_bottom }}
{%- endcapture -%}
  <div {% render 'section-properties', class: padding_classes %}>
    <collection-tabs>
      {% if collection.metafields.custom.tabs != blank %}
        <div class="collection-tabs__tabs-wrapper">
          {%- for tab in collection.metafields.custom.tabs.value -%}
            <button
              data-index="{{ forloop.index0 }}"
              class="subheading-sm {%- if forloop.index0 == 0 %} active{% endif %}"
            >
              {{ tab.tab_title }}
            </button>
          {%- endfor -%}
        </div>
        <div class="collection-tabs__content-wrapper">
          {%- for tab in collection.metafields.custom.tabs.value -%}
            <div
              data-index="{{ forloop.index0 }}"
              class="collection-tabs__content {% if forloop.index0 == 0 %}active{% endif %}"
            >
              {% if tab.intro_title != blank and tab.intro != blank %}
                <div class="collection-tabs__content-intro">
                  <h2 class="collection-tabs__content-intro-title h2">{{ tab.intro_title }}</h2>
                  <div class="collection-tabs__content-intro-description prose">
                    {{ tab.intro | metafield_tag }}
                  </div>
                </div>
              {% endif %}
              {% for tab_item in tab.items.value %}
                <div class="collection-tabs__media-item {% cycle '', 'reversed' %}">
                  <div class="collection-tabs__media-item-media">
                    {%- if tab_item.image != blank and tab_item.product == blank -%}
                      {{-
                        tab_item.image
                        | image_url: width: tab_item.image.width
                        | image_tag: widths: '300,400,500,600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600'
                      -}}
                    {%- endif -%}
                    {%- if tab_item.image == blank and tab_item.product != blank and tab_item.product.value != blank -%}
                      {%- render 'product-card', product: tab_item.product.value, show_badges: true -%}
                    {%- endif -%}
                  </div>
                  <div class="collection-tabs__media-item-content {% if tab_item.product == blank and tab_item.image == blank %}full-width{% endif %}">
                    {% if tab_item.title != blank %}
                      <h3 class="collection-tabs__media-item-title">{{ tab_item.title }}</h3>
                    {% endif %}
                    {% if tab_item.content != blank %}
                      <div class="collection-tabs__media-item-description prose">
                        {{ tab_item.content | metafield_tag }}
                      </div>
                    {% endif %}
                    {% if tab_item.button_text != blank and tab_item.button_link != blank %}
                      <div>
                        <a href="{{ tab_item.button_link }}" class="collection-tabs__media-item-button">
                          {{- tab_item.button_text -}}
                        </a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
          {%- endfor -%}
        </div>
      {% endif %}
    </collection-tabs>
  </div>

  <script type="module" src="{{ 'collection-tabs.js' | asset_url }}"></script>
{% endif %}

{% schema %}
{
  "name": "Collection Tabs",
  "class": "shopify-section--collection-tabs",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "select",
      "id": "padding_top",
      "label": "Padding top",
      "options": [
        { "value": "auto", "label": "auto" },
        { "value": "0", "label": "0" },
        { "value": "sm", "label": "sm" },
        { "value": "md", "label": "md" },
        { "value": "xl", "label": "xl" }
      ],
      "default": "auto"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "options": [
        { "value": "auto", "label": "auto" },
        { "value": "0", "label": "0" },
        { "value": "sm", "label": "sm" },
        { "value": "md", "label": "md" },
        { "value": "xl", "label": "xl" }
      ],
      "default": "auto"
    }
  ],
  "presets": [
    {
      "name": "Collection Tabs"
    }
  ]
}
{% endschema %}
